*.log
*.DS_Store
*.pyc
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
*.tmp*
.ipynb_checkpoints
1.Notebooks/.ipynb_checkpoints/
5.Technical_Salon/lesson1/*.html
5.Technical_Salon/*.rar
Github-Forking.md
5.Technical_Salon/lesson1/微软-仪电人工智能高阶人才培训学习心得之-洪小文老师第一讲.rar
